#document1 {
    font-style: italic;
    color: yellowgreen;
}
#document2 {
    font-style: oblique;
    color: red;
}
#document3 {
    font-style: oblique;
    color: yellow;
}
#box {
    background-color: rgb(242, 242, 190);
    width: 1000px;
    height: 400px;
    margin: 20px;
    border: 20px;
}
